* {
  box-sizing: border-box;
}

@media screen and (min-width: 0) and (max-width: 800px) {
  @-webkit-keyframes slide-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes slide-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  body {
    background-color: black;
    color: goldenrod;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 3em;
    background-image: url(./pics/lotbannerphone.png);
    background-repeat: none;
    background-size: 100%;
  }
  .ring {
    width: 200px;
    height: 200px;
    text-align: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    width: 100%;
  }
  .card img {
    width: 60%;
  }

  .show .description1 {
    display: none;
  }
  .show:hover .description1 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .show .description2 {
    display: none;
  }
  .show:hover .description2 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .show .description3 {
    display: none;
  }
  .show:hover .description3 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 801px) {
  @-webkit-keyframes slide-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes slide-down {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  body {
    background-color: black;
    color: goldenrod;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 5em;
    background-image: url(./pics/lotrbanner.png);
    background-repeat: none;
    background-size: 100%;
  }
  .ring {
    width: 200px;
    height: 200px;
    text-align: center;
  }
  .main {
    display: flex;
    flex-direction: row;
    height: 800px;
  }
  .card {
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    width: 30%;
  }
  .card img {
    width: 60%;
  }
  .card:hover {
    z-index: 2;
    transform: scale(1.5);
    transition: 2s;
  }

  .show .description1 {
    display: none;
  }
  .show:hover .description1 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .show .description2 {
    display: none;
  }
  .show:hover .description2 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .show .description3 {
    display: none;
  }
  .show:hover .description3 {
    display: block;
    background-color: beige;
    color: black;
    font-size: 0.75em;
    -webkit-animation: slide-down 1.3s ease-out;
    -moz-animation: slide-down 2.3s ease-out;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
}
